{{define "server/add"}}
{{template "layout/header"}}
<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">

    <!-- begin:: Subheader -->
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">服务器管理</h3>
        </div>
    </div>

    <!-- end:: Subheader -->

    <!-- begin:: Content -->
    <div class="kt-content" id="kt_content">
        <div class="row">
            <div class="col-lg-12">
                <!--begin::Portlet-->
                <form class="kt-form kt-form--fit" id="form" method="post" action="/server/server/add">
                    <div class="kt-portlet kt-portlet--last kt-portlet--responsive-mobile" id="kt_page_portlet">
                        <div class="kt-portlet__head">
                            <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">添加服务器</h3>
                            </div>
                            <div class="kt-portlet__head-toolbar">
                                <a href="/server/server/index" class="btn btn-clean kt-margin-r-10">
                                    <i class="la la-arrow-left"></i>
                                    <span class="kt-hidden-mobile">返回</span>
                                </a>
                                <div class="btn-group">
                                    <button type="submit" class="btn btn-brand" name="submit" value="提交">提交</button>
                                </div>
                            </div>
                        </div>
                        <div class="kt-portlet__body">
                            <div class="form-group row">
                                <div class="col-lg-6">
                                    <label class="col-form-label">别名</label>
                                    <input type="text" class="form-control vq-max-length" placeholder="输入服务器别名" name="alias" maxlength="50" value="">
                                    <span class="form-text text-muted">不超过50个字符</span>
                                </div>
                                <div class="col-lg-6">
                                    <label class="col-form-label">访问地址 <span class="kt-font-danger">*</span></label>
                                    <input type="text" class="form-control vq-max-length" placeholder="输入服务器访问地址" name="host" maxlength="50" value="">
                                    <span class="form-text text-muted">不超过50个字符</span>
                                </div>

                            </div>
                            <div class="form-group row">
                                <div class="col-lg-6">
                                    <label class="col-form-label">访问验证</label>
                                    <div class="kt-radio-inline">
                                        <label class="kt-radio kt-radio--brand">
                                            <input type="radio" name="auth" value="1" checked onclick="relationServer('no', 'auth-span')"> 否
                                            <span></span>
                                        </label>
                                        <label class="kt-radio kt-radio--brand">
                                            <input type="radio" name="auth" value="2" onclick="relationServer('yes', 'auth-span')"> 是
                                            <span></span>
                                        </label>
                                    </div>
                                    <span class="form-text text-muted">验证方式是基于Basic HTTP authentication</span>
                                </div>
                            </div>
                            <div class="form-group row auth-span kt-hidden">
                                <div class="col-lg-6">
                                    <label class="col-form-label">用户名</label>
                                    <input type="text" class="form-control vq-max-length" placeholder="输入服务器用户名" name="username" maxlength="20" value="" autocomplete="off">
                                    <span class="form-text text-muted">不超过20个字符，没有用户则留空</span>
                                </div>
                                <div class="col-lg-6">
                                    <label class="col-form-label">密码</label>
                                    <input type="password" class="form-control vq-max-length" placeholder="输入服务器密码" name="password" maxlength="20" value="" autocomplete="new-password">
                                    <span class="form-text text-muted">不超过20个字符，没有用户则留空</span>
                                </div>
                            </div>
                            <div class="kt-separator kt-separator--border-dashed"></div>
                            <div class="form-group row">
                                <div class="col-lg-6">
                                    <label class="col-form-label">性能指标监控</label>
                                    <div class="kt-radio-inline">
                                        <label class="kt-radio kt-radio--brand">
                                            <input type="radio" name="monitor" value="disabled" checked onclick="relationServer('no', 'monitor-span')"> 关闭
                                            <span></span>
                                        </label>
                                        <label class="kt-radio kt-radio--brand">
                                            <input type="radio" name="monitor" value="enabled" onclick="relationServer('yes', 'monitor-span')"> 开启
                                            <span></span>
                                        </label>
                                    </div>
                                    <span class="form-text text-muted">若开启则需要单独下载监控客户端才能收集数据</span>
                                </div>
                            </div>
                            <div class="form-group row monitor-span kt-hidden">
                                <div class="col-sm-4">
                                    <label class="col-form-label">地址</label>
                                    <input type="text" class="form-control vq-max-length" placeholder="地址" name="monitorAddress" maxlength="50" value="" autocomplete="off">
                                    <span class="form-text text-muted">不超过50个字符</span>
                                </div>
                                <div class="col-sm-4">
                                    <label class="col-form-label">访问用户名(不需要验证则无需输入)</label>
                                    <input type="text" class="form-control vq-max-length" placeholder="输入访问用户名" name="monitorUsername" maxlength="20" value="" autocomplete="off">
                                    <span class="form-text text-muted">不超过20个字符</span>
                                </div>
                                <div class="col-sm-4">
                                    <label class="col-form-label">访问密码</label>
                                    <input type="password" class="form-control vq-max-length" placeholder="输入访问密码" name="monitorPassword" maxlength="20" value="" autocomplete="new-password">
                                    <span class="form-text text-muted">不超过20个字符</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!--end::Portlet-->
            </div>
        </div>
    </div>

    <!-- end:: Content -->
</div>
{{template "layout/footer"}}
<script src="/assets/vendors/general/jquery-validation/dist/jquery.validate.min.js" type="text/javascript"></script>
<script src="/assets/vendors/general/jquery-validation/dist/additional-methods.min.js" type="text/javascript"></script>
<script src="/assets/vendors/general/jquery-form/dist/jquery.form.min.js" type="text/javascript"></script>
<script src="/assets/vendors/general/bootstrap-maxlength/bootstrap-maxlength.min.js" type="text/javascript"></script>
<script>
    vq.common.submitForm({
        id:'form',
        backUrl:"/server/server/index",
        successInfo:'继续添加',
        rules:{
            'Host':{required:true}
        },
        messages:{
            'Host':{required:"请输入访问地址"}
        }
    });
    function relationServer(value,cla){
        if(value == "yes"){
            $("." + cla).removeClass("kt-hidden")
        }else{
            $("." + cla).addClass("kt-hidden")
        }
    }
</script>
{{end}}