{{define "server/edit"}}
{{template "layout/header"}}
<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">

    <!-- begin:: Subheader -->
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">服务器管理</h3>
        </div>
    </div>

    <!-- end:: Subheader -->

    <!-- begin:: Content -->
    <div class="kt-content" id="kt_content">
        <div class="row">
            <div class="col-lg-12">
                <!--begin::Portlet-->
                <form class="kt-form kt-form--fit" id="form" method="post" action="/server/server/edit">
                    <div class="kt-portlet kt-portlet--last kt-portlet--responsive-mobile" id="kt_page_portlet">
                        <div class="kt-portlet__head">
                            <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">编辑服务器</h3>
                            </div>
                            <div class="kt-portlet__head-toolbar">
                                <a href="/server/server/index" class="btn btn-clean kt-margin-r-10">
                                    <i class="la la-arrow-left"></i>
                                    <span class="kt-hidden-mobile">返回</span>
                                </a>
                                <div class="btn-group">
                                    <button type="submit" class="btn btn-brand" name="submit" value="提交">提交</button>
                                </div>
                            </div>
                        </div>
                        <div class="kt-portlet__body">
                            <div class="form-group row">
                                <div class="col-lg-6">
                                    <label>别名</label>
                                    <input type="text" class="form-control vq-max-length" placeholder="输入服务器别名" name="alias" maxlength="50" value="{{.info.Alias}}">
                                    <span class="form-text">不超过50个字符</span>
                                </div>
                                <div class="col-lg-6">
                                    <label>访问地址 <span class="kt-font-danger">*</span></label>
                                    <input type="text" class="form-control vq-max-length" placeholder="输入服务器访问地址" disabled name="host" maxlength="50" value="{{.info.Host}}">
                                    <span class="form-text">不超过50个字符</span>
                                </div>

                            </div>
                            <div class="form-group row">
                                <div class="col-lg-6">
                                    <label>服务器验证</label>
                                    <div class="kt-radio-inline">
                                        <label class="kt-radio kt-radio--brand">
                                            <input type="radio" name="auth" value="1" {{if eq .info.Auth 1}}checked{{end}} onclick="relationServer('no', 'auth-span')"> 否
                                            <span></span>
                                        </label>
                                        <label class="kt-radio kt-radio--brand">
                                            <input type="radio" name="auth" value="2" {{if eq .info.Auth 2}}checked{{end}} onclick="relationServer('yes', 'auth-span')"> 是
                                            <span></span>
                                        </label>
                                    </div>
                                </div>

                            </div>
                            <div class="form-group row auth-span {{if eq .info.Auth 1}}kt-hidden{{end}}">
                                <div class="col-lg-6">
                                    <label>用户名</label>
                                    <input type="text" class="form-control vq-max-length" placeholder="输入服务器用户名" name="username" maxlength="20" value="{{.info.Username}}" autocomplete="off">
                                    <span class="form-text">不超过20个字符，没有用户则留空</span>
                                </div>
                                <div class="col-lg-6">
                                    <label>密码</label>
                                    <input type="password" class="form-control vq-max-length" placeholder="输入服务器密码" name="password" maxlength="20" value="{{.info.Password}}" autocomplete="new-password">
                                    <span class="form-text">不超过20个字符，没有用户则留空</span>
                                </div>
                            </div>
                            <div class="kt-separator kt-separator--border-dashed"></div>
                            <div class="form-group row">
                                <div class="col-lg-6">
                                    <label>服务器监控</label>
                                    <div class="kt-radio-inline">
                                        <label class="kt-radio kt-radio--brand">
                                            <input type="radio" name="monitor" value="disabled" {{if eq .info.Monitor "disabled"}}checked{{end}} onclick="relationServer('no', 'monitor-span')"> 否
                                            <span></span>
                                        </label>
                                        <label class="kt-radio kt-radio--brand">
                                            <input type="radio" name="monitor" value="enabled" {{if eq .info.Monitor "enabled"}}checked{{end}} onclick="relationServer('yes', 'monitor-span')"> 是
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row monitor-span {{if eq .info.Monitor "disabled"}}kt-hidden{{end}}">
                                <div class="col-sm-4">
                                    <label>监控地址</label>
                                    <input type="text" class="form-control vq-max-length" placeholder="输入监控地址" name="monitor_address" maxlength="50" value="{{.info.MonitorAddress}}" autocomplete="off">
                                    <span class="form-text text-muted">不超过50个字符</span>
                                </div>
                                <div class="col-sm-4">
                                    <label>监控地址用户名</label>
                                    <input type="text" class="form-control vq-max-length" placeholder="输入监控地址用户名" name="monitor_username" maxlength="20" value="{{.info.MonitorUsername}}" autocomplete="off">
                                    <span class="form-text text-muted">不超过20个字符</span>
                                </div>
                                <div class="col-sm-4">
                                    <label>监控地址密码</label>
                                    <input type="password" class="form-control vq-max-length" placeholder="输入监控地址密码" name="monitor_password" maxlength="20" value="{{.info.MonitorPassword}}" autocomplete="new-password">
                                    <span class="form-text text-muted">不超过20个字符</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="id" value="{{.info.Id}}">
                </form>
                <!--end::Portlet-->
            </div>
        </div>
    </div>

    <!-- end:: Content -->
</div>
{{template "layout/footer"}}
<script src="/assets/vendors/general/jquery-validation/dist/jquery.validate.min.js" type="text/javascript"></script>
<script src="/assets/vendors/general/jquery-validation/dist/additional-methods.min.js" type="text/javascript"></script>
<script src="/assets/vendors/general/jquery-form/dist/jquery.form.min.js" type="text/javascript"></script>
<script src="/assets/vendors/general/bootstrap-maxlength/bootstrap-maxlength.min.js" type="text/javascript"></script>
<script>
    vq.common.submitForm({
        id:'form',
        backUrl:"/server/server/index",
        successInfo:'继续修改',
        rules:{},
        messages:{}
    });
    function relationServer(value, cla){
        if(value == "yes"){
            $("." + cla).removeClass("kt-hidden")
        }else{
            $("." + cla).addClass("kt-hidden")
        }
    }
</script>
{{end}}