{{define "server/monitor_detail"}}
{{template "layout/header"}}
<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">

    <!-- begin:: Subheader -->
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">服务器管理</h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <span class="kt-subheader__desc">实时监控</span>
        </div>
    </div>

    <!-- end:: Subheader -->

    <!-- begin:: Content -->
    <div class="kt-content" id="kt_content">
        <div class="kt-portlet">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                    {{if eq .info.Alias ""}}
                        {{.info.MonitorAddress}}
                    {{else}}
                        {{.info.Alias}}({{.info.MonitorAddress}})
                    {{end}}
                        近一个小时数据
                    </h3>
                {{if eq .info.AgentStatus 1}}
                    <span class="kt-badge kt-badge--inline kt-badge--success kt-margin-l-20" id="agent_status">运行中</span>
                {{else}}
                    <span class="kt-badge kt-badge--inline kt-badge--warning kt-margin-l-20" id="agent_status">异常</span>
                {{end}}
                </div>
                <div class="kt-portlet__head-toolbar">
                    <a href="/server/server/monitor" class="btn btn-outline-hover-info btn-icon">
                        <i class="fa fa-angle-left"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="kt-portlet kt-portlet--mobile">
                    <div class="kt-portlet__head kt-portlet__head--lg">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                CPU负载<span id="cpu-core-count"></span>
                            </h3>
                        </div>
                    </div>
                    <div class="kt-section__content">
                        <div id="cpu-load" style="height:300px;width: 100%"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="kt-portlet kt-portlet--mobile">
                    <div class="kt-portlet__head kt-portlet__head--lg">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                CPU利用率(%)
                            </h3>
                        </div>
                    </div>
                    <div class="kt-section__content">
                        <div id="cpu-used" style="height:300px;width: 100%"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="kt-portlet kt-portlet--mobile">
                    <div class="kt-portlet__head kt-portlet__head--lg">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                内存使用率(%)
                            </h3>
                        </div>
                    </div>
                    <div class="kt-section__content">
                        <div id="mem-used" style="height:300px;width: 100%"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="kt-portlet kt-portlet--mobile">
                    <div class="kt-portlet__head kt-portlet__head--lg">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                网络速度(MB/秒)
                            </h3>
                        </div>
                    </div>
                    <div class="kt-section__content">
                        <div id="network" style="height:300px;width: 100%"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" name="server_id" id="server_id" value="{{.info.Id}}">
    <!-- end:: Content -->
</div>
{{template "layout/footer"}}
<script src="/assets/vendors/general/echarts/echarts.min.js" type="text/javascript"></script>
<script src="/assets/vendors/general/echarts/macarons.js" type="text/javascript"></script>
<script>
    var cpuLoadData = [];
    var cpuUsedData = [];
    var memUsedData = [];
    var networkData = [];
    var lastTime = 0;
    var cpuLoadChart = echarts.init(document.getElementById('cpu-load'),'macarons');
    var cpuUsedChart = echarts.init(document.getElementById('cpu-used'),'macarons');
    var memUsedChart = echarts.init(document.getElementById('mem-used'),'macarons');
    var networkChart = echarts.init(document.getElementById('network'),'macarons');
    $(function(){
        // 指定图表的配置项和数据
        var option = {
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    animation: false
                }
            },
            xAxis: {
                type: 'time',
                splitLine: {
                    show: false
                }

            },
            yAxis: {
                type: 'value',
                boundaryGap: [0, '100%'],
                splitLine: {
                    show: true
                }
            },
            grid: {
                left: '10',
                right: '20',
                bottom: '10',
                top: '40',
                containLabel: true
            },
            series: [
                {
                    name:'',
                    type: 'line',
                    showSymbol: false,
                    hoverAnimation: false,
                }
            ]
        };
        cpuLoadChart.setOption(option);
        cpuUsedChart.setOption(option);
        memUsedChart.setOption(option);
        networkChart.setOption(option);
        //设置cpu负载最大刻度
        cpuLoadChart.setOption({
            yAxis: {
                max: 100,
            },
        });
        //设置利用率最大刻度
        cpuUsedChart.setOption({
            yAxis: {
                max: 100,
            },
        });
        //设置利用率最大刻度
        networkChart.setOption({
            yAxis: {
                minInterval: 1,
            },
        });
        getData();
        setInterval("getData()", 30000);
    });
    function getData(){
        $.ajax({
            url: '/server/server/monitorDetail',
            type: 'get',
            dataType: 'json',
            data: {server_id: $("#server_id").val(), last_time: lastTime},
            success: function (result) {
                if (result.code == 0) {
                    var items = result.data.items;
                    var tempCpuLoad1Data = [];
                    var tempCpuLoad5Data = [];
                    var tempCpuLoad15Data = [];
                    var tempNetUpData = [];
                    var tempNetDownData = [];
                    for (var i = 0; i < items.length; i++){
                        //cpu负载率
                        for (var n = 0; n < cpuLoadData.length; n++){
                            if (cpuLoadData[n].name == "1分钟平均"){
                                tempCpuLoad1Data = cpuLoadData[n].data;
                            }else if (cpuLoadData[n].name == "5分钟平均"){
                                tempCpuLoad5Data = cpuLoadData[n].data;
                            }else if (cpuLoadData[n].name == "15分钟平均"){
                                tempCpuLoad15Data = cpuLoadData[n].data;
                            }
                        }
                        //网络上下行速度
                        for (var n = 0; n < networkData.length; n++){
                            if (networkData[n].name == "上行速度"){
                                tempNetUpData = networkData[n].data;
                            }else if (networkData[n].name == "下行速度"){
                                tempNetDownData = networkData[n].data;
                            }
                        }
                        if(cpuUsedData.length > 200) {
                            tempCpuLoad1Data.shift();
                            tempCpuLoad5Data.shift();
                            tempCpuLoad15Data.shift();
                            cpuUsedData.shift();
                            memUsedData.shift();
                            tempNetUpData.shift();
                            tempNetDownData.shift();
                        }

                        tempCpuLoad1Data.push({
                            value: [items[i].time, items[i].cpu_load1]
                        });
                        tempCpuLoad5Data.push({
                            value: [items[i].time, items[i].cpu_load5]
                        });
                        tempCpuLoad15Data.push({
                            value: [items[i].time, items[i].cpu_load15]
                        });
                        cpuUsedData.push({
                            value: [items[i].time, items[i].cpu_percent]
                        });
                        memUsedData.push({
                            value: [items[i].time, items[i].mem_used]
                        });
                        tempNetUpData.push({
                            value: [items[i].time, items[i].net_send_speed]
                        });
                        tempNetDownData.push({
                            value: [items[i].time, items[i].net_receive_speed]
                        });
                    }
                    if(items.length > 0) {
                        $("#cpu-core-count").html("(" + items[items.length - 1].cpu_core_count + "核)");
                        //设置内存最大刻度
                        memUsedChart.setOption({
                            yAxis: {
                                axisLabel: {
                                    formatter: function (val) {
                                        return val + 'GB';
                                    }
                                },
                                max: items[items.length - 1].mem_total,
                            },
                        });
                    }
                    if (tempCpuLoad1Data.length > 0){
                        cpuLoadData = [
                            {
                                name: "1分钟平均",
                                data: tempCpuLoad1Data,
                                type: 'line',
                                showSymbol: false,
                                hoverAnimation: false,
                            },
                            {
                                name: "5分钟平均",
                                data: tempCpuLoad5Data,
                                type: 'line',
                                showSymbol: false,
                                hoverAnimation: false,
                            },
                            {
                                name: "15分钟平均",
                                data: tempCpuLoad15Data,
                                type: 'line',
                                showSymbol: false,
                                hoverAnimation: false,
                            },
                        ];
                    }
                    if (tempNetUpData.length > 0){
                        networkData = [
                            {
                                name: "上行速度",
                                data: tempNetUpData,
                                type: 'line',
                                showSymbol: false,
                                hoverAnimation: false,
                            },
                            {
                                name: "下行速度",
                                data: tempNetDownData,
                                type: 'line',
                                showSymbol: false,
                                hoverAnimation: false,
                            }
                        ];
                    }
                    cpuLoadChart.setOption({
                        legend: {
                            data: ["1分钟平均", "5分钟平均", "15分钟平均"],
                        },
                        series: cpuLoadData
                    });
                    cpuUsedChart.setOption({
                        series: {
                            data: cpuUsedData,
                        }
                    });
                    memUsedChart.setOption({
                        series: {
                            data: memUsedData,
                            areaStyle: {}
                        }
                    });
                    networkChart.setOption({
                        legend: {
                            data: ["上行速度", "下行速度"],
                        },
                        series: networkData
                    });
                    lastTime = result.data.next_time
                }
            }
        });
    }
</script>
{{end}}