{{define "server/monitor_detail"}}
{{template "layout/header"}}
<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">

    <!-- begin:: Subheader -->
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">服务器管理</h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <span class="kt-subheader__desc">实时监控</span>
        </div>
    </div>

    <!-- end:: Subheader -->

    <!-- begin:: Content -->
    <div class="kt-content" id="kt_content">
        <div class="row">
            <div class="col-md-6">
                <div class="kt-portlet kt-portlet--mobile">
                    <div class="kt-portlet__head kt-portlet__head--lg">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                CPU负载(5分钟平均负载)
                            </h3>
                        </div>
                    </div>
                    <div class="kt-section__content">
                        <div id="cpu-load" style="height:300px;width: 100%"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="kt-portlet kt-portlet--mobile">
                    <div class="kt-portlet__head kt-portlet__head--lg">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                CPU利用率(%)
                            </h3>
                        </div>
                    </div>
                    <div class="kt-section__content">
                        <div id="echarts-cpu" style="height:300px;width: 100%"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="kt-portlet kt-portlet--mobile">
                    <div class="kt-portlet__head kt-portlet__head--lg">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                内存使用率(%)
                            </h3>
                        </div>
                    </div>
                    <div class="kt-section__content">
                        <div id="echarts-mem" style="height:300px;width: 100%"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="kt-portlet kt-portlet--mobile">
                    <div class="kt-portlet__head kt-portlet__head--lg">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                活动进程数
                            </h3>
                        </div>
                    </div>
                    <div class="kt-section__content">
                        <div id="process-count" style="height:300px;width: 100%"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="kt-portlet kt-portlet--mobile">
                    <div class="kt-portlet__head kt-portlet__head--lg">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                网络上行速度(MB/秒)
                            </h3>
                        </div>
                    </div>
                    <div class="kt-section__content">
                        <div id="net-send" style="height:300px;width: 100%"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="kt-portlet kt-portlet--mobile">
                    <div class="kt-portlet__head kt-portlet__head--lg">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                网络下行速度(MB/秒)
                            </h3>
                        </div>
                    </div>
                    <div class="kt-section__content">
                        <div id="net-receive" style="height:300px;width: 100%"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- end:: Content -->
</div>
{{template "layout/footer"}}
<script src="/assets/vendors/general/echarts/echarts.min.js" type="text/javascript"></script>
<script src="/assets/vendors/general/echarts/macarons.js" type="text/javascript"></script>
<script>
    var cpuLoadData = [];
    var cpuData = [];
    var memData = [];
    var processData = [];
    var netSendData = [];
    var netReceiveData = [];
    var lastTime = 0;
    var cpuLoadChart = echarts.init(document.getElementById('cpu-load'),'macarons');
    var cpuChart = echarts.init(document.getElementById('echarts-cpu'),'macarons');
    var memChart = echarts.init(document.getElementById('echarts-mem'),'macarons');
    var processChart = echarts.init(document.getElementById('process-count'),'macarons');
    var netSendChart = echarts.init(document.getElementById('net-send'),'macarons');
    var netReceiveChart = echarts.init(document.getElementById('net-receive'),'macarons');
    $(function(){
        // 指定图表的配置项和数据
        var option = {
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    animation: false
                }
            },
            xAxis: {
                type: 'time',
                splitLine: {
                    show: false
                }
            },
            yAxis: {
                type: 'value',
                boundaryGap: [0, '100%'],
                splitLine: {
                    show: true
                }
            },
            grid: {
                left: '10',
                right: '20',
                bottom: '10',
                containLabel: true
            },
            series: [
                {
                    name:'127.0.0.1',
                    type: 'line',
                    showSymbol: false,
                    hoverAnimation: false,
                }
            ]
        };
        cpuLoadChart.setOption(option);
        cpuChart.setOption(option);
        memChart.setOption(option);
        processChart.setOption(option);
        netSendChart.setOption(option);
        netReceiveChart.setOption(option);
        getData();
        setInterval("getData()", 30000);
    });
    function getData(){
        var servers = [];
        $.ajax({
            url: '/server/server/monitor',
            type: 'get',
            dataType: 'json',
            data: {last_time: lastTime},
            success: function (result) {
                if (result.code == 0) {
                    var items = result.data.items;
                    var tempCpuLoadData = [];
                    var tempCpuData = [];
                    var tempMemData = [];
                    var tempProcessData = [];
                    var tempNetSendData = [];
                    var tempNetReceiveData = [];
                    for (var i = 0; i < items.length; i++){
                        servers.push(items[i].name);
                        var timeline = items[i].timeline;
                        var currentCpuLoadData = [];
                        var currentCpuData = [];
                        var currentMemData = [];
                        var currentProcessData = [];
                        var currentNetSendData = [];
                        var currentNetReceiveData = [];
                        //获取当前服务器之前的数据
                        for (var n = 0; n < cpuData.length; n++){
                            if (cpuData[n].name == items[i].name){
                                currentCpuLoadData = cpuLoadData[n].data;
                                currentCpuData = cpuData[n].data;
                                currentMemData = memData[n].data;
                                currentProcessData = processData[n].data;
                                currentNetSendData = netSendData[n].data;
                                currentNetReceiveData = netReceiveData[n].data;
                            }
                        }
                        for (var j = 0; j < timeline.length; j++){
                            if(currentCpuLoadData.length > 200) {
                                currentCpuLoadData.shift();
                            }
                            currentCpuLoadData.push({
                                value: [timeline[j].time, timeline[j].cpu_load5]
                            });
                            if(currentCpuData.length > 200) {
                                currentCpuData.shift();
                            }
                            currentCpuData.push({
                                value: [timeline[j].time, timeline[j].cpu_percent]
                            });
                            if(currentMemData.length > 200) {
                                currentMemData.shift();
                            }
                            currentMemData.push({
                                value: [timeline[j].time, timeline[j].mem_used_percent]
                            });
                            if(currentProcessData.length > 200) {
                                currentProcessData.shift();
                            }
                            currentProcessData.push({
                                value: [timeline[j].time, timeline[j].process_count]
                            });
                            if(currentNetSendData.length > 200) {
                                currentNetSendData.shift();
                            }
                            currentNetSendData.push({
                                value: [timeline[j].time, timeline[j].net_send_speed]
                            });
                            if(currentNetReceiveData.length > 200) {
                                currentNetReceiveData.shift();
                            }
                            currentNetReceiveData.push({
                                value: [timeline[j].time, timeline[j].net_receive_speed]
                            });
                        }
                        tempCpuLoadData.push({
                            name: items[i].name,
                            data: currentCpuLoadData,
                            type: 'line',
                            showSymbol: false,
                            hoverAnimation: false,
                        });
                        tempCpuData.push({
                            name: items[i].name,
                            data: currentCpuData,
                            type: 'line',
                            showSymbol: false,
                            hoverAnimation: false,
                        });
                        tempMemData.push({
                            name: items[i].name,
                            data: currentMemData,
                            type: 'line',
                            showSymbol: false,
                            hoverAnimation: false,
                        });
                        tempProcessData.push({
                            name: items[i].name,
                            data: currentProcessData,
                            type: 'line',
                            showSymbol: false,
                            hoverAnimation: false,
                        });
                        tempNetSendData.push({
                            name: items[i].name,
                            data: currentNetSendData,
                            type: 'line',
                            showSymbol: false,
                            hoverAnimation: false,
                        });
                        tempNetReceiveData.push({
                            name: items[i].name,
                            data: currentNetReceiveData,
                            type: 'line',
                            showSymbol: false,
                            hoverAnimation: false,
                        });
                    }
                    cpuLoadData = tempCpuLoadData;
                    cpuData = tempCpuData;
                    memData = tempMemData;
                    processData = tempProcessData;
                    netSendData = tempNetSendData;
                    netReceiveData = tempNetReceiveData;
                    cpuLoadChart.setOption({
                        legend: {
                            data: servers
                        },
                        series: cpuLoadData
                    });
                    cpuChart.setOption({
                        legend: {
                            data: servers
                        },
                        series: cpuData
                    });
                    memChart.setOption({
                        legend: {
                            data: servers
                        },
                        series: memData
                    });
                    processChart.setOption({
                        legend: {
                            data: servers
                        },
                        series: processData
                    });
                    netSendChart.setOption({
                        legend: {
                            data: servers
                        },
                        series: netSendData
                    });
                    netReceiveChart.setOption({
                        legend: {
                            data: servers
                        },
                        series: netReceiveData
                    });
                    lastTime = result.data.next_time
                }
            }
        });
    }
</script>
{{end}}