{{define "index/main"}}
{{template "layout/header"}}
<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">

    <!-- begin:: Subheader -->
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">文章管理</h3>
        </div>
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
                <a href="#" class="btn kt-subheader__btn-primary btn-icon">
                    <i class="flaticon2-file"></i>
                </a>
                <a href="#" class="btn kt-subheader__btn-primary btn-icon">
                    <i class="flaticon-download-1"></i>
                </a>
                <a href="#" class="btn kt-subheader__btn-primary btn-icon">
                    <i class="flaticon2-fax"></i>
                </a>
                <a href="#" class="btn kt-subheader__btn-primary btn-icon">
                    <i class="flaticon2-settings"></i>
                </a>
            </div>
        </div>
    </div>

    <!-- end:: Subheader -->

    <!-- begin:: Content -->
    <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">

        <!--begin::Row-->
        <div class="row">
            <div class="col-xl-6">

                <!--begin::Portlet-->
                <div class="kt-portlet">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
												<span class="kt-portlet__head-icon kt-hidden">
													<i class="la la-gear"></i>
												</span>
                            <h3 class="kt-portlet__head-title">
                                Basic Buttons
                            </h3>
                        </div>
                    </div>
                    <div class="kt-portlet__body">
                        <div class="kt-section">
                            <div class="kt-section__info">Bootstrap buttons:</div>
                            <div class="kt-section__content kt-section__content--solid">
                                <button type="button" class="btn btn-primary">Primary</button>
                                <button type="button" class="btn btn-secondary">Secondary</button>
                                <button type="button" class="btn btn-success">Success</button>
                                <button type="button" class="btn btn-info">Info</button>
                                <button type="button" class="btn btn-warning">Warning</button>
                                <button type="button" class="btn btn-danger">Danger</button>
                                <button type="button" class="btn btn-link">Link</button>
                            </div>
                        </div>
                        <div class="kt-separator kt-separator--space-sm  kt-separator--border-dashed"></div>
                        <div class="kt-section">
                            <div class="kt-section__info">The <code>.btn</code> classes are designed to be used with <code>&lt;button&gt;</code>, <code>&lt;a&gt;</code> and <code>&lt;input&gt;</code> elements.</div>
                            <div class="kt-section__content kt-section__content--solid">
                                <a class="btn btn-primary" href="#" role="button">Link</a>
                                <button class="btn btn-success" type="submit">Button</button>
                                <input class="btn btn-warning" type="button" value="Input">
                                <input class="btn btn-info" type="submit" value="Submit">
                                <input class="btn btn-danger" type="reset" value="Reset">
                                <a href="#" class="btn btn-dark">Dark</a>
                                <button type="button" class="btn btn-brand">Brand</button>
                            </div>
                        </div>
                        <div class="kt-separator kt-separator--space-sm  kt-separator--border-dashed"></div>
                        <div class="kt-section">
                            <div class="kt-section__info">Button states:</div>
                            <div class="kt-section__content kt-section__content--solid">
                                <button type="button" class="btn btn-brand active">Active</button>
                                <button type="button" class="btn btn-dark active">Active</button>
                                <button type="button" class="btn btn-outline-danger active">Active</button>
                                <button type="button" class="btn btn-primary disabled" disabled>Disabled</button>
                                <button type="button" class="btn btn-success disabled" disabled>Disabled</button>
                                <button type="button" class="btn btn-outline-success disabled" disabled>Disabled</button>
                            </div>
                        </div>
                        <div class="kt-separator kt-separator--space-sm  kt-separator--border-dashed"></div>
                        <div class="kt-section">
                            <div class="kt-section__info">Metronic custom buttons:</div>
                            <div class="kt-section__content kt-section__content--solid">
                                <button type="button" class="btn btn-brand">Brand</button>
                                <button type="button" class="btn btn-dark">Dark</button>
                                <button type="button" class="btn btn-light btn-elevate">Light</button>
                            </div>
                        </div>
                        <div class="kt-separator kt-separator--space-sm  kt-separator--border-dashed"></div>
                        <div class="kt-section">
                            <div class="kt-section__info">Metronic base buttons:</div>
                            <div class="kt-section__content kt-section__content--solid">
                                <button type="button" class="btn btn-default btn-bold btn-upper">Button</button>
                                <button type="button" class="btn btn-clean btn-bold btn-upper">Button</button>
                                <button type="button" class="btn btn-sm btn-default btn-bold btn-upper">Button</button>
                                <button type="button" class="btn btn-sm btn-clean btn-bold btn-upper">Button</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!--end::Portlet-->
                <div class="kt-portlet">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
												<span class="kt-portlet__head-icon kt-hidden">
													<i class="la la-gear"></i>
												</span>
                            <h3 class="kt-portlet__head-title">
                                Pill Buttons
                            </h3>
                        </div>
                    </div>
                    <div class="kt-portlet__body">
                        <div class="kt-section">
                            <div class="kt-section__info">Default options:</div>
                            <div class="kt-section__content kt-section__content--solid">
                                <button type="button" class="btn btn-primary btn-pill">Primary</button>&nbsp;
                                <button type="button" class="btn btn-brand btn-pill">Solid</button>&nbsp;
                                <button type="button" class="btn btn-secondary btn-pill">Secondary</button>&nbsp;
                                <button type="button" class="btn btn-outline-brand btn-pill">Outline</button>&nbsp;
                                <button type="button" class="btn btn-outline-hover-danger btn-pill">Hover Outline</button>&nbsp;
                                <button type="button" class="btn btn-light btn-hover-brand btn-pill">Hover Solid</button>
                            </div>
                        </div>
                        <div class="kt-separator kt-separator--space-sm  kt-separator--border-dashed"></div>
                        <div class="kt-section">
                            <div class="kt-section__info">Elevation options:</div>
                            <div class="kt-section__content kt-section__content--solid">
                                <button type="button" class="btn btn-light btn-elevate-hover btn-pill">Hover Flat</button>&nbsp;
                                <button type="button" class="btn btn-brand btn-elevate btn-pill">Solid</button>&nbsp;
                                <button type="button" class="btn btn-secondary btn-elevate btn-pill">Secondary</button>&nbsp;
                                <button type="button" class="btn btn-outline-brand btn-elevate btn-pill">Outline</button>&nbsp;
                                <button type="button" class="btn btn-outline-hover-info btn-elevate btn-pill">Hover Outline</button>&nbsp;
                                <button type="button" class="btn btn-light btn-elevate btn-pill">Raise Elevation</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end::Portlet-->
            </div>
        </div>

        <!--end::Row-->
    </div>

    <!-- end:: Content -->
</div>
{{template "layout/footer"}}
{{end}}