{{define "project/edit"}}
{{template "layout/header"}}
<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">

    <!-- begin:: Subheader -->
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">项目管理</h3>
        </div>
    </div>

    <!-- end:: Subheader -->

    <!-- begin:: Content -->
    <div class="kt-content" id="kt_content">
        <div class="row">
            <div class="col-4">
                <div class="kt-portlet kt-portlet--last ">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">历史版本号</h3>
                        </div>
                    </div>
                    <div class="kt-portlet__body kt-scroll" data-scroll="true" data-height="350" style="height:350px;overflow:hidden">
                        <div class="kt-list-timeline">
                            <div class="kt-list-timeline__items history-version-list">
                                {{range .historyList}}
                                    <div class="kt-list-timeline__item">
                                        <span class="kt-list-timeline__badge"></span>
                                        <span class="kt-list-timeline__text">{{.version}}<br>{{.create_time}}</span>
                                        <span class="kt-list-timeline__time"><button type="button" class="btn btn-outline-primary btn-sm history-version" data-version="{{.version}}">使用</button></span>
                                    </div>
                                {{end}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <!--begin::Portlet-->
                <form class="kt-form" id="form" method="post" action="/project/project/editVersion" enctype="multipart/form-data">
                    <div class="kt-portlet kt-portlet--last kt-portlet--responsive-mobile" id="kt_page_portlet">
                        <div class="kt-portlet__head">
                            <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">更新项目文件</h3>
                            </div>
                            <div class="kt-portlet__head-toolbar">
                                <a href="/project/project/index" class="btn btn-clean kt-margin-r-10">
                                    <i class="la la-arrow-left"></i>
                                    <span class="kt-hidden-mobile">返回</span>
                                </a>
                                <div class="btn-group">
                                    <button type="submit" class="btn btn-brand" name="submit" value="提交">提交</button>
                                </div>
                            </div>
                        </div>
                        <div class="kt-portlet__body">
                            <div class="form-group row">
                                <label class="col-2 col-form-label text-right">项目名称</label>
                                <div class="col-9">
                                    <input type="text" class="form-control vq-max-length" placeholder="输入项目名称" name="name" disabled maxlength="20" value="{{.info.Name}}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-2 col-form-label text-right">使用已有版本</label>
                                <div class="col-9">
                                    <div class="kt-radio-inline">
                                        <label class="kt-radio kt-radio--brand">
                                            <input type="radio" name="useHistoryVersion" value="no" checked> 否
                                            <span></span>
                                        </label>
                                        <label class="kt-radio kt-radio--brand">
                                            <input type="radio" name="useHistoryVersion" value="yes"> 是
                                            <span></span>
                                        </label>
                                    </div>
                                    <span class="form-text">如果使用已有版本，请点击使用按钮</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-2 col-form-label text-right">版本号 </label>
                                <div class="col-9">
                                    <input type="text" class="form-control vq-max-length" placeholder="输入版本号" name="version" id="version" maxlength="20" value="">
                                    <span class="form-text">不超过20个字符，不填默认为时间戳</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-2 col-form-label text-right">项目文件 <span class="kt-font-danger">*</span></label>
                                <div class="col-9">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" name="customFile" id="customFile" value="浏览">
                                        <label class="custom-file-label" for="customFile">选择文件</label>
                                    </div>
                                    <span class="form-text kt-font-bold kt-font-danger">会更新到所关联的所有服务器</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="id" value="{{.info.Id}}">
                    <input type="hidden"  name="lastVersion" id="lastVersion" value="{{.info.LastVersion}}">
                </form>
                <!--end::Portlet-->
            </div>
        </div>
    </div>

    <!-- end:: Content -->
</div>
{{template "layout/footer"}}
<script src="/assets/vendors/general/jquery-validation/dist/jquery.validate.min.js" type="text/javascript"></script>
<script src="/assets/vendors/general/jquery-validation/dist/additional-methods.min.js" type="text/javascript"></script>
<script src="/assets/vendors/general/jquery-form/dist/jquery.form.min.js" type="text/javascript"></script>
<script src="/assets/vendors/general/bootstrap-maxlength/bootstrap-maxlength.min.js" type="text/javascript"></script>
<script>
    $(function(){
        $(".history-version").on("click", function(){
            $("#version").val($(this).attr("data-version"));
            $("[name='useHistoryVersion'][value='yes']").attr("checked", "checked");
            $(".history-version-list button").removeClass("btn-primary").addClass("btn-outline-primary");
            $(this).removeClass("btn-outline-primary").addClass("btn-primary");
        })
        $("[name='useHistoryVersion']").on("click", function(){
            if($(this).val() == "yes"){
                $("#version").val($("#lastVersion").val()).attr("readonly", "readonly");
                $(".history-version-list button[data-version='"+$("#lastVersion").val()+"']").removeClass("btn-outline-primary").addClass("btn-primary");
            }else{
                $("#version").val("").removeAttr("readonly");
                $(".history-version-list button").removeClass("btn-primary").addClass("btn-outline-primary");
            }
        })
    });
    vq.common.submitForm({
        id:'form',
        backUrl:"/project/project/index",
        successInfo:'继续修改',
        rules:{
            'customFile':{required:true}
        },
        messages:{
            'customFile':{required:"请上传项目文件"}
        }
    });
</script>
{{end}}