{{define "task/index"}}
{{template "layout/header"}}
<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">

    <!-- begin:: Subheader -->
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">普通任务</h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <span class="kt-subheader__desc">任务管理</span>
        </div>
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
                <a href="/task/task/add" class="btn btn-brand btn-elevate btn-icon-sm">
                    <i class="la la-plus"></i>
                    添加普通任务
                </a>
            </div>
        </div>
    </div>

    <!-- end:: Subheader -->

    <!-- begin:: Content -->
    <div class="kt-content" id="kt_content">
        <div class="kt-portlet kt-portlet--tabs kt-portlet--mobile">
            <div class="kt-portlet__head kt-portlet__head--lg">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        列表
                    </h3>
                </div>
                <div class="kt-portlet__head-toolbar">
                    <ul class="nav nav-tabs nav-tabs-bold nav-tabs-line  nav-tabs-line-right nav-tabs-line-brand" role="tablist" id="task-status">
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" data-status="error" href="javascript:;" role="tab" aria-selected="false">
                                运行异常
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" data-status="pending" href="javascript:;" role="tab" aria-selected="true">
                                待运行
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" data-status="running" href="javascript:;" role="tab" aria-selected="true">
                                运行中
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" data-status="cancelled" href="javascript:;" role="tab" aria-selected="true">
                                已取消
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" data-status="finished" href="javascript:;" role="tab" aria-selected="true">
                                已完成
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="kt-portlet__body pb-0">
                <div class="row">
                    <div class="col-lg-4 kt-margin-b-10-tablet-and-mobile">
                        <label>项目</label>
                        <select class="form-control kt-selectpicker" id="project_id" onchange="vq.common.getVersionsByProjectId(this.value, 'version', '全部版本')">
                            <option value="0">全部服项目</option>
                            {{range .projects}}
                                <option value="{{.Id}}">{{.Name}}</option>
                            {{end}}
                        </select>
                    </div>
                    <div class="col-lg-4 kt-margin-b-10-tablet-and-mobile">
                        <label>版本号</label>
                        <select class="form-control kt-selectpicker" id="version" >
                            <option value="">全部版本</option>
                        </select>
                    </div>
                    <div class="col-lg-4 kt-margin-b-10-tablet-and-mobile">
                        <label>服务器</label>
                        <select class="form-control kt-selectpicker" id="server_id" >
                            <option value="0">全部服务器</option>
                            {{range .servers}}
                                <option value="{{.Id}}">{{.Host}}</option>
                            {{end}}
                        </select>
                    </div>
                </div>
                <div class="kt-separator kt-separator--border-dashed kt-separator--space-md"></div>
                <div class="row">
                    <div class="col-lg-12">
                        <button class="btn btn-primary btn-brand--icon" type="button" onclick="reloadDatatable()">
                            <span>
                                <i class="la la-search"></i>
                                <span>搜索</span>
                            </span>
                        </button>
                    </div>
                </div>

            </div>
            <div class="kt-separator kt-separator--border-dashed kt-separator--space-md"></div>
            <div class="kt-portlet__body pt-0">
                <div class="row">
                    <div class="col-lg-12">
                        <button type="button" class="btn btn-danger btn-sm kt-hidden stop-selected">停止已选择</button>
                        <button type="button" class="btn btn-danger btn-sm kt-hidden stop-all">停止所有筛选结果</button>
                    </div>
                </div>
            </div>
            <div class="kt-portlet__body kt-portlet__body--fit">
                <div class="kt-datatable"></div>
            </div>
        </div>
    </div>

    <!-- end:: Content -->
</div>
{{template "layout/footer"}}
<script>
    var datatableObj;
    $(function(){
        // $.fn.editable.defaults.mode = 'inline' ;
        datatableObj = $('.kt-datatable').KTDatatable({
            data: {
                type: 'remote',
                source: {
                    read: {
                        url: '/task/task/index',
                        params: function(d){
                            d.project_id = $("#project_id").val();
                            d.version = $("#version").val();
                            d.server_id = $("#server_id").val();
                            d.status = $("#task-status .active").attr("data-status");
                        },
                        map: function(data){
                            if(data.data.length > 0) {
                                var status = $("#task-status .active").attr("data-status");
                                if(canOperate(status)) {
                                    $(".stop-all").removeClass("kt-hidden");
                                } else {
                                    $(".stop-all").addClass("kt-hidden");
                                }
                            } else {
                                $(".stop-selected").addClass("kt-hidden");
                                $(".stop-all").addClass("kt-hidden");
                            }
                            return data.data;
                        }
                    },
                },
                saveState: false,
            },
            rows: {
                selected: function(row, datatable) {
                    //待运行或者运行中的任务才可以进行选择
                    var status = $("#task-status .active").attr("data-status");
                    if(canOperate(status)) {
                        $(".stop-selected").removeClass("kt-hidden");
                    } else {
                        $(".stop-selected").addClass("kt-hidden");
                    }
                },
                unselect: function(row, datatable){
                    if (datatableObj.getSelectedRecords().length == 0){
                        $(".stop-selected").addClass("kt-hidden");
                    } else {
                        $(".stop-selected").removeClass("kt-hidden");
                    }
                }
            },
            columns: [
                {
                    field: 'checkbox',
                    title: '',
                    width: 20,
                    textAlign: 'center',
                    selector: {},
                    template : function(row, index, datatable){
                        return row.id;
                    }
                }, {
                    field: 'id',
                    textAlign: 'center',
                    title: 'id',
                    width: 50
                },  {
                    field: 'spider_name',
                    textAlign: 'center',
                    title: '爬虫名称',
                }, {
                    field: 'project_name',
                    title: '所属项目'
                }, {
                    field: 'version',
                    title: '版本号',
                    width: 50
                }, {
                    field: 'host',
                    title: '所在服务器',
                }, {
                    field: 'start_time',
                    title: '开始时间',
                    width: 140
                }, {
                    field: 'duration',
                    title: '持续时间',
                }, {
                    field: 'status',
                    title: '状态',
                    autoHide: false,
                    width: 70,
                    template: function(row, index, datatable){
                        if (row.status == "error"){
                            return `<span class="kt-badge kt-badge--danger kt-badge--inline">运行异常</span>`;
                        }else if (row.status == "pending"){
                            return `<span class="kt-badge kt-badge--warning kt-badge--inline">待运行</span>`;
                        }else if (row.status == "running"){
                            return `<span class="kt-badge kt-badge--info kt-badge--inline">运行中</span>`;
                        }else  if (row.status == "cancelled"){
                            return `<span class="kt-badge kt-badge--danger kt-badge--inline">已取消</span>`;
                        }else {
                            return `<span class="kt-badge kt-badge--success kt-badge--inline">已完成</span>`;
                        }
                    }
                }, {
                    field: '',
                    overflow: 'visible',
                    autoHide: false,
                    width: 70,
                    title: '操作',
                    template:function(row, index, datatable){
                        if (row.status == "pending" || row.status == "running"){
                            return '<button type="button" data-href="/task/task/cancel?id='+row.id+'" data-msg="确定要停止吗?" data-datatable="true" onclick="vq.common.get(this)" class="btn btn-sm btn-label-danger btn-bold">停止</button>';
                        }else{
                            return '<button type="button" disabled class="btn btn-sm btn-label-danger btn-bold">无</button>';
                        }

                    }
                }
            ]
        });
        $("#task-status a").on("click", function(){
            var _this = $(this);
            var status = _this.attr("data-status");
            if (!_this.hasClass("active")){
                if (canOperate(status)) {
                    //待运行或者运行中的任务才可以进行选择
                    $(".kt-datatable [data-field='checkbox'] .kt-checkbox").removeClass("kt-checkbox--disabled");
                    $(".kt-datatable [data-field='checkbox'] .kt-checkbox input").removeAttr("disabled");
                    datatableObj.setOption('columns.0.selector', {});
                } else {
                    $(".kt-datatable [data-field='checkbox'] .kt-checkbox").addClass("kt-checkbox--disabled");
                    $(".kt-datatable [data-field='checkbox'] .kt-checkbox input").attr("disabled", "disabled");
                    datatableObj.setOption('columns.0.selector', {disabled : true, class: "kt-checkbox--disabled"});
                }
                reloadDatatable();
            }
        });
        $(".stop-selected").on("click", function(){
            vq.common.stopSelectedTask();
        });
        $(".stop-all").on("click", function(){
            vq.common.stopAllTask()
        });

    });
    function canOperate(status){
        if (status == "pending" || status == "running") {
            return true;
        }
        return false;
    }
</script>
{{end}}