{{define "layout/header"}}
<!DOCTYPE html>
<html lang="en">

<!-- begin::Head -->
<head>
    <meta charset="utf-8" />
    <title>Scrapyd Admin</title>
    <meta name="description" content="Updates and statistics">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <script src="/assets/js/webfont.js"></script>

        <script>
            WebFont.load({
                google: {
                    "families": ["Poppins:300,400,500,600,700", "Roboto:300,400,500,600,700"]
                },
                active: function() {
                    sessionStorage.fonts = true;
                }
            });
        </script>
    <link href="/assets/vendors/general/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet" type="text/css" />
    <link href="/assets/vendors/general/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
    <link href="//cdn.bootcss.com/font-awesome/5.3.1/css/all.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/vendors/general/artDialog/skins/default.css" rel="stylesheet" />
    <link href="/assets/demo/default/base/style.bundle.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/demo/default/skins/header/base/light.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/demo/default/skins/header/menu/light.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/demo/default/skins/brand/dark.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/demo/default/skins/aside/dark.min.css" rel="stylesheet" type="text/css" />
</head>

<!-- end::Head -->

<!-- begin::Body -->
<body class="kt-header--fixed kt-header-mobile--fixed kt-subheader--fixed kt-subheader--enabled kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-page--loading">

{{end}}